.c-sound {
    display: grid;
    gap: $gutter;

    @include sm {
        grid-template-columns: repeat(2, 1fr);
    }

    @include lg {
        grid-template-columns: repeat(3, 1fr);
    }

    @include xl {
        grid-template-columns: repeat(4, 1fr);
    }
}

.c-sound__item {
    display: grid;
    // grid-auto-flow: column;
    grid-template-columns: repeat(3, max-content) repeat(2, 1fr);
    gap: $quarter-gutter;
    align-items: center;
    justify-content: start;
    padding: $quarter-gutter;
    background-color: $grey-9;
    border-radius: 3px;
}

.c-sound__heading {
    margin-bottom: $quarter-gutter;
    @include font(18px, bold, $lh-title);
}


// VU-meter
// --------------------------------
.c-sound-vu {
    margin-right: 6px;
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    gap: 2px;
    align-items: center;
    visibility: hidden;
    transform: scaleY(0);
}

.c-sound-vu__meter {
    width: 2px;
    height: 24px;
    background-color: $brand;
    opacity: 0;
    transform: scaleY(0);
}